<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <%#= javascript_include_tag( "project.js") %>
<!--    <script src="javascripts/channels/project.js"></script>-->
    <title>
      Signup
    </title>
    <link rel="stylesheet"  href="users.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <h1 class="myborder">BUG TRACKING SYSTEM</h1>

  <div class="navbar">
    <%= link_to "View Projects", project_index_path%>
    <div class="dropdown">
      <%= link_to "", new_project_path,class: "fa fa-plus fa-5x"%>
      <%= link_to "Logout", destroy_user_session_path, method: :delete%>
      <button class="dropbtn" onclick="myFunction()">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <%= link_to "Edit Profile", edit_user_registration_path%>
        <%= link_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>

  <center><h2>All projects</h2></center>

  <table border=1>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Start_date</th>
      <th>End_date</th>
      <th colspan="3">Actions</th>
    </tr>

    <% @projects.each do |p| %>
      <tr>
        <td style="width:100px"><%= p.name %></td>
        <td style="width:300px"><%= p.desc %></td>
        <td style="width:300px"><%= p.start_date %></td>
        <td style="width:300px"><%= p.end_date %></td>
        <td class="actions buttons"><%= button_to 'Show', project_path(p), class:"mylink" %></td>
        <td class="actions buttons"><%= button_to 'Edit', edit_project_path(p), class:"mylink"  %></td>
        <td class="actions buttons"><%= button_to 'Destroy', project_path(p),
                                                method: :delete,
                                                data: { confirm: 'Are you sure?' }, class:"mylink"  %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <script>
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                  }
              }
          }
      }
  </script>

  </body>
</html>