<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>
      Signup
    </title>
    <link rel="stylesheet"  href="users.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <h1 class="myborder">BUG TRACKING SYSTEM</h1>

  <div class="navbar">
    <%= link_to "View Projects", project_index_path%>
    <div class="dropdown">
      <%= link_to "Logout", destroy_user_session_path, method: :delete%>
      <button class="dropbtn" onclick="myFunction()">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <%= link_to "Edit Profile", edit_user_registration_path%>
        <%= link_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>

  <center><h2>All projects</h2></center>


  <% @projects.each do |p| %>
    <div class="container">
      <p>
        <strong>Name:</strong>
        <%= p.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= p.desc %>
      </p>

      <p>
        <strong>Start Date:</strong>
        <%= p.start_date %>
      </p>

      <p>
        <strong>End Date:</strong>
        <%= p.end_date %>
      </p>

      <div class="btn-group">
        <button><%= link_to 'show', project_path(p), class:"mybuttons"%></button>
      </div>
    </div>
    <br>
  <% end %>

  <br>

  <script>
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                  }
              }
          }
      }
  </script>

  </body>
</html>